*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    color: red !important;
    transition: 0.2s all;
}
/* banner section start */
 
  .inner-banner{
    background-image: url(../img/background.jpg);
    height: 270px;
    width: 100%;
    background-repeat: no-repeat;
  }


/* banner section end */

/* form section start */

 .form-lable{
  margin-bottom: 0.5rem;
 }
 label{
  font-weight: bold;
  display: inline-block;
 }
 .form-floating{
  position: relative;
 }

/* form section end */